@page "/"

@inject IJSRuntime js
@inject NavigationManager NavigationManager

<div class="container">
    <h1>Registro</h1>
    <EditForm  Model="@Model" OnSubmit="Send" class="form">
        <div class="form-group">
            <label>User:</label>
            <input @bind="@Model.Name" class="form-control" id="txtUserName" />
        </div>

        <button class="btn btn-success float-right" type="submit">Chat</button>
        
    </EditForm>
</div>


